<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Livro cadastrado com sucesso</title>
</head>
<body>
    <h1>O livro foi adicionado com sucesso.</h1>
    <button onclick="window.location.href='/Listas/Selecionar'">Voltar página inicial</button>
</body>
</html>