<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Listas de livros</title>
</head>
<body>
    <h2>Listas</h2>
    <a href="/Livros/ParaLer">Livros para ler</a>
    <br />
    <a href="/Livros/Lendo">Livros lendo</a>
    <br />
    <a href="/Livros/Lidos">Livros lidos</a>
    <br />
    <h2>Livros</h2>
    <form method="get" action="/Livros/Detalhes">
        <input name="Id" />
        <button type="submit">Ver detalhes livro</button>
    </form>
    <a href="/Cadastro/Formulario">Cadastrar novo livro</a>
</body>
</html>